<a href="https://colab.research.google.com/github/yashveeeer/Projects/blob/main/Marathwada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import scipy.stats as stats

In [6]:
H0 = "NFHS-5 Shows Marathwada Region and other regions are observing similar level of Antenatal care visits"
H1 = "NFHS-5 Shows lower level of Antenatal care visits"

In [3]:
# Data for the Marathwada region for at least 4 times Antenatal care visits NFHS-5
marathwada_data = [76.6, 56.8, 66.6,58.4, 72.6, 53.5, 89.2, 47.4]

#Other regions
other_regions_data = [76.6,
76.3,
71.7,
79,
72.7,
68.5,
63.2,
86.8,
66.2,
58.4,
81.8,
87.1,
71.4,
58.2,
66.4,
68.6,
83.1,
78.6,
80.1,
81.7,
70.2,
86.3,
73.4,
81.9,
70.4,
60,
66.9]

# Perform independent samples t-test
t_statistic, p_value = stats.ttest_ind(marathwada_data, other_regions_data)

# Print the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

# Interpret the results
alpha = 0.05  # Significance level

if p_value < alpha:
    print("Reject the null hypothesis. There is sufficient evidence to support the alternative hypothesis.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to support the alternative hypothesis.")

T-Statistic: -2.1024837378085306
P-Value: 0.04322198578024694
Reject the null hypothesis. There is sufficient evidence to support the alternative hypothesis.

In [9]:
H00 = "NFHS-4 Shows Marathwada Region and other regions are observing similar level of Antenatal care visits"
H11 = "NFHS-4 Shows lower level of Antenatal care visits"

In [10]:
# Data for the Marathwada region for at least 4 times Antenatal care visits NFHS-4
marathwada_data_NFHS4= [63.1, 72.9, 63.7, 64.2, 74.9, 70.5, 74.8, 79.3]

#Other regions NFHS-4
other_regions_data_NFHS4 = [63.1, 80.4, 75.7, 83.4, 74.5, 79.9, 62.5, 76.6, 76, 64.6, 69.1,80.7,81.1,52.5,58.6,84.5,68.9,72,65.5,68.9,78.9,73.8,77.3,67.5,71.4]

# Perform independent samples t-test
t_statistic, p_value = stats.ttest_ind(marathwada_data_NFHS4, other_regions_data_NFHS4)

# Print the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

# Interpret the results
alpha = 0.05  # Significance level

if p_value < alpha:
    print("Reject the null hypothesis. There is sufficient evidence to support the alternative hypothesis.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to support the alternative hypothesis.")

T-Statistic: -0.5966115976486672
P-Value: 0.5550990484282838
Fail to reject the null hypothesis. There is not enough evidence to support the alternative hypothesis.