<a href="https://colab.research.google.com/github/yashveeeer/Projects/blob/main/Marathwada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import scipy.stats as stats

In [36]:
H0 = "NFHS-5 Shows Marathwada Region and other regions are observing similar level of Antenatal care visits"
H1 = "NFHS-5 Shows lower level of Antenatal care visits"

In [45]:
# Data for the Marathwada region and other regions for at least 4 times Antenatal care visits
marathwada_data = [76.6, 56.8, 66.6,58.4, 72.6, 53.5, 89.2, 47.4]  

# Example data, replace with actual values
other_regions_data = [76.6,
76.3,
71.7,
79,
72.7,
68.5,
63.2,
86.8,
66.2,
58.4,
81.8,
87.1,
71.4,
58.2,
66.4,
68.6,
83.1,
78.6,
80.1,
81.7,
70.2,
86.3,
73.4,
81.9,
70.4,
60,
66.9]  # Example data, replace with actual values

# Perform independent samples t-test
t_statistic, p_value = stats.ttest_ind(marathwada_data, other_regions_data)

# Print the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

# Interpret the results
alpha = 0.05  # Significance level

if p_value < alpha:
    print("Reject the null hypothesis. There is sufficient evidence to support the alternative hypothesis.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to support the alternative hypothesis.")

T-Statistic: -2.1024837378085306
P-Value: 0.04322198578024694
Reject the null hypothesis. There is sufficient evidence to support the alternative hypothesis.